{
    "timeout": 10,
    "source": {
        "directories": [
            "src"
        ],
        "excludes": [
            "Test\/Infrastructure"
        ]
    },
    "logs": {
        "text": "./tmp/infection.log"
    },
    "mutators": {
        "@default": true
    }
}